@import '../Variables.scss';
@import '../Mixins.scss';

.categories-wrapper {
    margin-top: 1rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
    border-radius: 12px;

    .categories-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: row;

        @include text-sm;
        font-weight: 700;
        background-color: $white;
        border: 1px solid $light-grey-border;
        padding: 0.5rem 1rem;
        border-radius: 12px;
        color: $text-sub;
        gap: $icon-gap;
        transition: 0.2s;
        
        &-all {
            background-color: $white;
            color: $dark-blue;

            &-icon {
                width: 1rem;
                height: 1rem;
            }
        }

        &.active {
            background-color: $teal-translucent;
            color: $teal;
            border: 1px solid $teal;
        }
    }
}
