@import '../Variables.scss';
@import '../Mixins.scss';

.filters-wrapper {
    margin-top: 1rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    background-color: $grey;
    border: 1px solid $light-grey-border;
    border-radius: 12px;
    padding: 0.25rem;

    .filter-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: transparent;
        padding: 0.5rem 1rem;
        border-radius: 12px;
        color: #7B8593;
        gap: $icon-gap;
        transition: 0.2s;
        
        @include text-sm;
        font-weight: 700;
        

        &-icon {
            width: 0.875rem;
            height: 0.875rem;

        }

        &.active {
            background-color: $white;
            color: $teal;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        }
    }
}
