.travel-app {

    padding-top: 1rem;
    padding-bottom: 5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 100%;
        max-width: 1200px;

        .cards-wrapper {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1rem;
        }

    }
}