@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    // font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    outline: none;
    border: none;
}


