@import './Base.scss';
@import './Variables.scss';
@import './Mixins.scss';
@import './_typography.scss';

@import './components/Navbar.scss';
@import './components/Travelapp.scss';
@import './components/Filters.scss';

.app {
    background-color: $bg-color;
    min-height: 100vh;
}