@import 'base';
@import 'variables';
@import 'mixins';
@import 'typography';

@import './components/navbar';
@import './components/travelapp';
@import './components/filters';

.app {
    background-color: $bg-color;
    min-height: 100vh;
}