// Mixins
@mixin section-styles($align: center) {
    .section-header {
        text-align: $align;
        max-width: 700px;
        margin: 0 auto 80px;

        .sub-heading {
            color: $brand-red;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 0.875rem;
            letter-spacing: 2px;
            margin-bottom: 12px;
            display: block;
        }
        .main-heading {
            font-size: 2rem;
            line-height: 2.7rem;
            margin-bottom: 20px;
            letter-spacing: -1px;
            font-weight: 800;

            @include respond-to($break-md) {
                font-size: 3rem;
                line-height: 4.5rem;
            }
        }
    }
}

@mixin duration-badge-styles {
    padding: 0.25rem 0.75rem;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 5px;
}

// Duration Badge Colours (can use 'quick-hit', 'half-day', or 'full-day')
@mixin duration-badge-colors($duration) {
  $styles: map-get($duration-badge-colors, $duration);

  @if $styles {
    background-color: map-get($styles, bg);
    color: map-get($styles, text);
    border: 1px solid map-get($styles, border);
  } @else {
    @warn "No duration styles found for `#{$duration}`";
  }
}


@mixin sub-heading {
    color: $brand-red;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin-bottom: 12px;
    display: block;
}


@mixin respond-to($breakpoint) {
  @media (min-width: ($breakpoint)) {
    @content;
  }
}

@mixin respond-to-min-max($min, $max) {
  @media (min-width: $min) and (max-width: ($max - 1px)) {
    @content;
  }
}

@mixin text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@mixin icon-sm {
    height: 14px;
    width: 14px;
    margin-right: 0.25rem;
}