// COLOURS
$bg-color: #F9FAFB;
$white: #ffffff;
$off-white: #CBD5E1;
$off-white-translucent: #CBD5E140;
$light-grey: #F3F6F8;
$light-grey-border: #ECEFF3;
$light-grey-text: #99A8BC;

$grey: #F4F6F8;

$text-main: #1F2933;
$text-sub: #475569;

$teal: #14B8A6;
$teal-dark: #0D9488;
$teal-translucent: rgba(20, 184, 166, 0.063);

$light-yellow-border: #F1E9DA;
$light-yellow: #f8f6f0;

$dark-blue: #1f2933;

// Duration Badge Colours
$duration-badge-colors: (
  "quick-hit": (
    bg: #FFFBEB,
    text: #B45309,
    border: #FDE68A
  ),
  "half-day": (
    bg: #FFF1F2,
    text: #E11D48,
    border: #FECDD3
  ),
  "full-day": (
    bg: #EFF6FF,
    text: #1E3A8A,
    border: #BFDBFE
  )
);


//SPACING
//Used for spacing between icons and content (such as icons and text on a button for example)
$icon-gap: 0.5rem;